#IMPORTANT! To use this daemon you MUST install the jsvc tool. More details
#about the package jsvc can be found here: https://packages.debian.org/stable/utils/jsvc

#This configuration file is used for configuring the nsupdate command for use with
#your personal DNS server. The DNS server that was used for this daemon was Bind9.
#Ex. server=google-public-dns-a.google.com
server=

#The key_path parameter is used in case you want to use the nsupdate tool with TSIG security.
#In case you don't want to use any security you can put it in comments.
#more at: http://en.wikipedia.org/wiki/Nsupdate
key_path=

#Zone parameter is the zone that you want to update your records.
zone=

#In the record parameter you must specify the subdomain with your domain followed by a dot (.).
#Ex www.google.com.

record=

type_of_record=

#The TTL record is in minutes.
ttl_of_record=

has_reverse=
reverse_zone=
reverse_record=
reverse_ttl=
